.dlgOverlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(55, 55, 55, 0.5);
    z-index: 9999;
}

.detalle {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #4c4c4c;
}